.btn {
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  background-color: #A1807B;
  border: none;
  font-family: 'Open Sans';
  opacity: 0.9;
}

.btn:hover {
  color: white;
  background-color: #EDD0C8;
}
